/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	z-index: 20;
}
/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper > .container {
	padding-right: 0;
	padding-left: 0;
}
.navbar-wrapper .navbar {
	padding-right: 15px;
	padding-left: 15px;
}
/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.banner .carousel {
	height: 695px;
	margin-bottom: 0px;
}
/* Since positioning the image, we need to help out the caption */
.banner .carousel-caption {
	z-index: 10;
}
/* Declare heights because of positioning of img element */
.banner .carousel .item {
	height: 695px;
	background: none;
}
.banner .carousel-inner > .item > img {
	position: absolute;
	top: 0;
	left: 0;
	min-width: 100%;
	height: 695px;
}
.banner .carousel-caption {
	left: 8%;
	padding-bottom: 30px;
	right: 50%;
	font-family: 'Raleway', sans-serif;
	text-shadow: 0 0px 0px rgba(0, 0, 0, 0.6);
	top: 166px;
}
.banner .carousel-img {
	font-family: "Raleway", sans-serif;
	padding-bottom: 30px;
	position: absolute;
	right: 158px;
	text-shadow: 0 0 0 rgba(0, 0, 0, 0.6);
	top: 166px;
}
/* Bump up size of carousel content */
.banner .carousel-caption h2 {
	margin-bottom: 20px;
	font-size: 20px;
	line-height: 1.4;
	font-family: 'Raleway', sans-serif;
	text-transform: uppercase;
	color: #fff;
	font-weight: 800;
}
.banner .carousel-caption h1 {
	margin-bottom: 20px;
	font-size: 50px;
	font-family: 'Raleway', sans-serif;
	text-transform: uppercase;
	font-weight: 700;
	color: #fff;
}
.banner .carousel-caption p {
	margin-bottom: 20px;
	font-size: 16px;
	line-height: 1.4;
	font-family: 'Raleway', sans-serif;
	text-transform: capitalize;
	color: #fff;
	font-weight: 600;
}
.navbar-wrapper {
	margin-top: 40px;
}
.navbar-wrapper .container {
	padding-right: 15px;
	padding-left: 15px;
}
.navbar-wrapper .navbar {
	padding-right: 0;
	padding-left: 0;
}
/* The navbar becomes detached from the top, so we round the corners */
.navbar-wrapper .navbar {
	border-radius: 0px;
}
.moving {
	background: #4daed9 url(../images/banner.png) repeat-x;
	height: 100%;
}
  
  
/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 320px) and (max-width: 768px) {
/* Navbar positioning foo */
  
.banner .carousel-caption {
	left: 16%;
	padding-bottom: 30px;
	right: 16%;
	font-family: 'Raleway', sans-serif;
	text-shadow: 0 0px 0px rgba(0, 0, 0, 0.6);
}
}
 @media (min-width: 992px) {
.featurette-heading {
	margin-top: 120px;
}
}
