
body
{
  font-family: freight-sans-pro !important;
} 
.newclss
{
  float: right;
    height: 40px;
} 
.txtclss
{
  border: 1px dashed #f00;
  font-size: 20px;
  font-weight: bold;
  height: 35px;
  text-align: center;
  width: 90%;
  background: transparent url("<?php echo base_url();?>assets/img/voucher-icon.png") no-repeat scroll 6px 2px;
}
.newclls
{
  margin: 0 0 9px;
  width: 9%;
}

.newclr
{
  color: #4daed9 !important;
}
.newneww
{
  color:#538945 !important;
  cursor:auto !important;
  display: inline-block;
  font-size: 15px !important;
  list-style-type: none !important;
  margin-left:10px !important;
}
.comments-space
{
  min-height:50px;
  height:auto;
  border-radius:5px;
  margin-bottom: 5px;
  margin-top: 15px;
  padding: 3px 5px;
  text-align: justify;
}
.remaining-content span
{
  display:none;
}
.comments-spaces 
{
  min-height:28px;
  height:auto;
  border-radius:5px;
  margin-bottom: 5px;
  /*margin-top: 15px;*/
  padding: 3px 5px;
  text-align: justify;
  width: 98%;
}
.remaining-contents span
{
  display:none;
}
#myList li{ display:none;
  list-style: outside none;
}
#loadMore {
  margin-top: 5px;
    color:green;
    cursor:pointer;
}
#loadMore:hover {
    color:black;
}
#showLess {
    color:red;
    cursor:pointer;
}
#showLess:hover {
    color:black;
}
#loadMore1 {
  margin-top: 5px;
    color:green;
    cursor:pointer;
}
#loadMore1:hover {
    color:black;
}
#showLess1{
    color:red;
    cursor:pointer;
}
#showLess1:hover {
    color:black;
} 

.loadedcontent {min-height: 1200px; }
.cus_modal .modal-header-default > .lead3 p {
    background-color: #eef6fc;
    border-radius: 4px;
    line-height: 18px;
    padding: 10px 10px 10px 35px;
}

.cus_modal .modal-header-default > .lead3 {
    margin-top: 15px;
}
.cus_modal .modal-header-default > div:first-child h3 {
    color: #1d7bce;
    font-size: 25px;
    line-height: 25px;
  font-weight:bold;
}
.cus_modal .voucher-code p {
    color: #004a86;
    font-size: 16px;
    font-weight: 700;
    margin: 0;
    padding-bottom: 10px;
}
.cus_modal .voucher-code {
    text-align: center;
}
.cus_modal .voucher-code, .cus_modal .follow-retailer, .cus_modal .refer {
    border-radius: 4px;
    margin: 0 0 25px;
    padding: 10px;
}
.cus_modal .voucher-code span {
    background: url("//static.quidco.com/v3/assets/img/common/modal/voucher-icon.png") no-repeat scroll 6px 2px transparent;
    border: 1px dashed #f00;
    display: block;
    font-size: 16px;
    font-weight: 700;
    margin: 0;
    padding: 4px 0;
}
.copy-medium, .copy-medium p, ul.copy-medium li, ol.copy-medium li {
    font-size: 14px;
    line-height: 22px;
}

.copy-medium .modal-body p {
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
}
.copy-medium .alert-info {
    background-color: #f4f8fd;
    border-color: #1d7bce;
    color: #444;
  
}

@media screen and (-webkit-min-device-pixel-ratio: 0) and (min-width: 320px) and (max-width: 767px) {
body .navbar-header .select-style1{left: -25px;}
}


body{width:610;}
.demo-table {width: 100%;border-spacing: initial;margin: 20px 0px;word-break: break-word;table-layout: auto;line-height:1.8em;color:#333;}
.demo-table th {background: #999;padding: 5px;text-align: left;color:#FFF;}
.demo-table td {border-bottom: #f0f0f0 1px solid;background-color: #ffffff;padding: 5px;}
.demo-table td div.feed_title{text-decoration: none;color:#00d4ff;font-weight:bold;}
.demo-table ul{margin:0 0 0 0px;padding:0; text-align: center;}
.demo-table span{cursor:pointer;list-style-type: none;display: inline-block;color: #F0F0F0;text-shadow: 0 0 1px #666666;font-size:20px;}
.demo-table .highlight, .demo-table .selected {color:#F4B30A;text-shadow: 0 0 1px #F48F0A;}
