@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?nl3qzn');
  src:  url('fonts/icomoon.eot?nl3qzn#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?nl3qzn') format('truetype'),
    url('fonts/icomoon.woff?nl3qzn') format('woff'),
    url('fonts/icomoon.svg?nl3qzn#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-color-sampler:before {
  content: "\e627";
}
.icon-sun:before {
  content: "\e647";
}
.icon-cog:before {
  content: "\e672";
}
.icon-flag2:before {
  content: "\e691";
}
.icon-mailbox-full:before {
  content: "\e693";
}
.icon-envelope:before {
  content: "\e696";
}
.icon-inbox2:before {
  content: "\e69d";
}
.icon-files:before {
  content: "\e6b7";
}
.icon-users2:before {
  content: "\e723";
}
.icon-group-work:before {
  content: "\e726";
}
.icon-store:before {
  content: "\e744";
}
.icon-bag:before {
  content: "\e74b";
}
.icon-bag2:before {
  content: "\e74c";
}
.icon-tags:before {
  content: "\e756";
}
.icon-receipt:before {
  content: "\e757";
}
.icon-wallet:before {
  content: "\e758";
}
.icon-cash-dollar:before {
  content: "\e75a";
}
.icon-coin-dollar:before {
  content: "\e762";
}
.icon-bubble-question:before {
  content: "\e7da";
}
.icon-diamond3:before {
  content: "\e808";
}
.icon-speed-fast:before {
  content: "\e836";
}
.icon-site-map:before {
  content: "\e883";
}
.icon-earth:before {
  content: "\e884";
}
.icon-sync:before {
  content: "\e8da";
}
.icon-clock3:before {
  content: "\e8e8";
}
.icon-upload2:before {
  content: "\e8f6";
}
.icon-enter-down2:before {
  content: "\e900";
}
.icon-file-preview:before {
  content: "\e911";
}
.icon-notification:before {
  content: "\e954";
}
.icon-plus-circle:before {
  content: "\e95b";
}

