@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?nl3qzn');
  src:  url('../fonts/icomoon.eot?nl3qzn#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?nl3qzn') format('truetype'),
    url('../fonts/icomoon.woff?nl3qzn') format('woff'),
    url('../fonts/icomoon.svg?nl3qzn#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="newicon-"], [class*=" newicon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.newicon-color-sampler:before {
  content: "\e627";
}
.newicon-sun:before {
  content: "\e647";
}
.newicon-cog:before {
  content: "\e672";
}
.newicon-flag2:before {
  content: "\e691";
}
.newicon-mailbox-full:before {
  content: "\e693";
}
.newicon-envelope:before {
  content: "\e696";
}
.newicon-inbox2:before {
  content: "\e69d";
}
.newicon-files:before {
  content: "\e6b7";
}
.newicon-users2:before {
  content: "\e723";
}
.newicon-group-work:before {
  content: "\e726";
}
.newicon-store:before {
  content: "\e744";
}
.newicon-bag:before {
  content: "\e74b";
}
.newicon-bag2:before {
  content: "\e74c";
}
.newicon-tags:before {
  content: "\e756";
}
.newicon-receipt:before {
  content: "\e757";
}
.newicon-wallet:before {
  content: "\e758";
}
.newicon-cash-dollar:before {
  content: "\e75a";
}
.newicon-coin-dollar:before {
  content: "\e762";
}
.newicon-bubble-question:before {
  content: "\e7da";
}
.newicon-diamond3:before {
  content: "\e808";
}
.newicon-speed-fast:before {
  content: "\e836";
}
.newicon-site-map:before {
  content: "\e883";
}
.newicon-earth:before {
  content: "\e884";
}
.newicon-sync:before {
  content: "\e8da";
}
.newicon-clock3:before {
  content: "\e8e8";
}
.newicon-upload2:before {
  content: "\e8f6";
}
.newicon-enter-down2:before {
  content: "\e900";
}
.newicon-file-preview:before {
  content: "\e911";
}
.newicon-notification:before {
  content: "\e954";
}
.newicon-plus-circle:before {
  content: "\e95b";
}


#sidebar > ul > li > a.cls {
    /*background: url("../img/side-bar-list-bg.png") repeat scroll 0 0 !important;*/
    display: inline-block;
    /*margin-right: -8px;*/
    /*padding: 14px 0px;*/
    padding: 0px;
}
#sidebar > ul > li > a.cls span {
    display: inline-block;
    font-size: 20px;
    height: auto;
    line-height: 30px;
    margin: 0;
    padding: 0 5px;
    text-align: center;
    vertical-align: middle;
    width: auto;
}
body ul.sidebar-menu li span.icon-box:last-child {
        background: transparent none repeat scroll 0 0 !important;
    color: #fff !important;
    display: inline-block;
    font-size: 18px;
    margin-left: 8px;
    margin-right: 0;
    padding: 0;
    text-align: left;
    vertical-align: middle;
    width: auto;
}
body ul.sidebar-menu li span.icon-box:last-child a:hover, body ul.sidebar-menu li span.icon-box:last-child a:focus{outline: none; text-decoration: none;}
ul.sidebar-menu li a span.icon-box:last-child {
    color: #fff;
    width: auto; 
}

body ul.sidebar-menu li span.icon-box:last-child a {
    color: #fff !important;font-size: 14px;
}

body ul.sidebar-menu li span.icon-box:last-child a i{   font-size: 17px !important;
    margin-right: 5px;}
#sidebar > ul > li > a.cls:hover, #sidebar > ul > li > a.cls:focus{background: url("../img/side-bar-list-bg.png") repeat scroll 0 0 !important;}

#sidebar > ul > li > a.cls span i {
    display: inline-block;
    font-size: 15px;
    line-height: 32px;
    vertical-align: middle;
}


#sidebar > ul > li.cls_sideacc {
    align-items: center;
    display: flex;
    height: 60px;
    width: 100%;
}
#sidebar > ul > li.cls_sideacc a.cls {
    align-items: center;
    background: url("../img/side-bar-list-bg.png") repeat scroll 0 0 !important;
    display: flex;
    height: 60px;
    padding-left: 0px;
    padding-right: 0px;
}
#sidebar > ul > li.cls_sideacc a.cls:last-child{margin-right: 5px;}
#sidebar > ul > li.cls_sideacc a.cls span i {
    background: #32c2cd !important;
    border-radius: 50%;
    display: inline-flex;
    height: 24px;
    justify-content: center;
    line-height: 22px;
    position: relative;
    text-align: center;
    width: 24px;
    z-index: 99;
}


#sidebar ul.list-inline {
    display: inline;
    margin-left: 0;
    margin-top: 0;
}
#sidebar ul.list-inline > li {
    display: inline;height: 60px;
    vertical-align: middle;
}
#sidebar ul.list-inline > li a {
    color: #fff;
    display: inline;
    vertical-align: middle;
}
#sidebar ul.list-inline > li a i, #sidebar ul.list-inline > li a span.arrow {
    display: inline;
    vertical-align: middle;
}
#sidebar ul.list-inline > li a span.arrow {
    display: inline-block;
    float: none;
    height: 0;
    margin-left: 5px;
    vertical-align: middle;
    width: 0;margin-top: 0;
}
#sidebar > ul > li > a.cls1 {
    display: table-cell;
    height: 60px;
    vertical-align: middle;
}
#sidebar ul > li > a.cls1 .arrow {
    display: inline-block;
    float: none;
    margin-top: 0;
    vertical-align: middle;
}
#sidebar > ul > li > a.cls1 i {
    display: inline;
    vertical-align: middle;
}

#sidebar > ul > li.has-sub a.cls1 {
    background: url("../img/side-bar-list-bg.png") repeat scroll 0 0 !important;
}


 
#sidebar > ul > li > span.cls a.icon-box:focus{background: url("../img/side-bar-list-bg.png") !important;}

#sidebar > ul > li > span.cls a.icon-box:hover{ text-decoration: none;}


#sidebar > ul > li > span.cls a i {
    display: inline-block;
    font-size: 15px;
    line-height: 32px;
    vertical-align: middle;
}
#sidebar > ul > li.cls_sideacc span.cls {
    align-items: center;
    background: url("../img/side-bar-list-bg.png") repeat scroll 0 0 !important;
    display: flex;
    height: 60px;
    padding-left: 0px;
    padding-right: 0px;
width: 34px; justify-content: center;
}
#sidebar > ul > li.cls_sideacc span.cls:last-child{margin-right: 5px;}
#sidebar > ul > li.cls_sideacc span.cls a i {  
background: #32c2cd !important;
border-radius: 50%;
display: inline-flex;
height: 24px;
align-items: center;
line-height: 22px;
position: relative;
text-align: center;
width: 24px;
z-index: 99;
justify-content: center;
margin-left: -5px;
}