@font-face {
  font-family: 'icomoon';

  src:  url('../fonts/icomoon.eot?lfjgut');
  src:  url('../fonts/icomoon.eot?lfjgut#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.ttf?lfjgut') format('truetype'),
        url('../fonts/icomoon.woff?lfjgut') format('woff'),
        url('../fonts/icomoon.svg?lfjgut#icomoon') format('svg');


  /*src:  url('../fonts/icomoon.eot?lfjgut');
  src:  url('../fonts/icomoon.eot?lfjgut#iefix') format('embedded-opentype'),
  url('../fonts/icomoon.ttf?lfjgut') format('truetype'),
  url('../fonts/icomoon.woff?lfjgut') format('woff'),
  url('../fonts/icomoon.svg?lfjgut#icomoon') format('svg');*/
  
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-drop:before {
  content: "\e633";
}
.icon-drop2:before {
  content: "\e635";
}
.icon-lock:before {
  content: "\e66b";
}
.icon-envelope:before {
  content: "\e696";
}
.icon-user-plus:before {
  content: "\e71f";
}
.icon-enter-right:before {
  content: "\e8fa";
}
.icon-enter-up2:before {
  content: "\e8ff";
}
.icon-droplet:before {
  content: "\e90b";
}
.icon-google-plus:before {
  content: "\ea8b";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-facebook2:before {
  content: "\ea91";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-whatsapp:before {
  content: "\ea93";
}
.icon-tumblr2:before {
  content: "\eaba";
}