.codexworld_rating_widget{
    padding: 0px;
    /*margin-left: 30px;*/margin-left: 80px;
    float: left;
}
.codexworld_rating_widget li{
    line-height: 0px;
    /*width: 28px;*/
    height: 15px;
    padding: 0px;
    /*margin: 0 10px 0 5px;*/
    margin: 10px 0 0;
    margin-left: 2px;
    list-style: none;
    float: right;
    cursor: pointer;
}
.codexworld_rating_widget li span{
    display: none;
}