@import url('demo.css');
@import url('common.css');
@import url('icons.css');

.fleft {
	/*float: left;
	width: 49%;
	min-width: 300px;*/
	 width: 100%;
}

.cd-dropdown ul {
	position: absolute;
	top: 0px;
	width: 100%;
}

.cd-dropdown > span,
.cd-dropdown ul li {
	/*box-shadow: 0 1px 1px rgba(0,0,0,0.1);*/
}

.cd-dropdown ul li {
	position: absolute;
	width: 100%;
	pointer-events: none;
}

.cd-active.cd-dropdown > span {
	/*color: #c29ad2;*/ color:#4daed9;
}

.cd-active.cd-dropdown ul li {
	pointer-events: auto;
}

.cd-active.cd-dropdown ul li span {
	-webkit-transition: all 0.2s linear 0s;
	-moz-transition: all 0.2s linear 0s;
	-ms-transition: all 0.2s linear 0s;
	-o-transition: all 0.2s linear 0s;
	transition: all 0.2s linear 0s;
}

.cd-active.cd-dropdown ul li span:hover {
	/*background: #c29ad2;*/ background:#4daed9;
	color: #fff;
}


@media screen and (max-width: 730px){
	.fleft {
		width: 100%;
		float: none;
		text-align: center;
	}
} 

.cd-dropdown,
.cd-select {
	/*position: relative;
	width: 300px;
	margin: 20px auto;*/
	display: block;
}

.cd-dropdown > span {
	width: 100%;
	height: 36px;
	line-height: 36px;
	color: #333;
	font-weight: 500;
	font-size: 14px;
	background: #fff;
	display: block;
	padding: 0 50px 0 11px;
	border:1px solid #d4d4d4;
	position: relative;
	cursor: pointer;
}

.cd-dropdown > span:after {
	content: '\25BC';
	position: absolute;
	right: 0px;
	/*top: 15%;border-left: 1px solid #ddd;height: 70%;line-height: 24px;font-size: 12px;*/
	width: 50px;
	text-align: center;
	font-size: 14px;
	padding: 10px;
	height: 100%;
	line-height: 20px;
	top: 0;
	background: #4daed9 none repeat scroll 0 0;
    border-left: 1px solid #4daed9;
    color: #fff;
}

.cd-dropdown.cd-active > span:after {
	content: '\25B2';
}

.cd-dropdown ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: block;
	/*position: relative;*/
}

.cd-dropdown ul li {
	display: block;
}

.cd-dropdown ul li span {
    background: #fff none repeat scroll 0 0;
    color: #333;
    cursor: pointer;
    display: block;
    font-weight: 600;
    line-height: 36px;
    padding: 0 11px;
    width: 100%;
	/*width: 100%;
	background: #fff;
	line-height: 60px;
	padding: 0 30px 0 75px;
	display: block;
	color: #bcbcbc;
	cursor: pointer;
	font-weight: 700;*/
}

.cd-dropdown > span,
.cd-dropdown ul li span {
	-webkit-backface-visibility: hidden;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.cd-dropdown > span span[class^="icon-"],
.cd-dropdown > span span[class*=" icon-"]{
	padding: 0 30px 0 45px;
}

/* Select fallback styling */
.cd-select {
	border: 1px solid #ddd;
}
