@charset "utf-8";
/* CSS Document */

.showbiz-container				{	max-width:1210px; min-width:300px; overflow:hidden;
									padding:0px 20px;margin:0px auto 50px;
									box-sizing:border-box;
									-moz-box-sizing:border-box;
									-webkit-box-sizing:border-box;
								}

.showbiz-container.darkbg		{	padding:5px;
									background:#d5d5d5;
									max-width:1170px;
								}

.showbiz-container.whitebg		{	padding:20px; padding-top:0px;
									background:#fff;
									max-width:1170px;
									-webkit-box-shadow: 0px 0px 5px 1px rgba(100,100,100,0.1);
									-moz-box-shadow: 0px 0px 5px 1px rgba(100,100,100,0.1);
									box-shadow: 0px 0px 5px 1px rgba(100,100,100,0.1);
									overflow:visible
								}


.showbiz-container.retrodarkbg	{	padding:20px;padding-top:0px;
									background:#222;
									border:1px solid #1e1e1e;
									max-width:1170px;
									overflow:visible
								}

.showbiz-container.fullwidth			{	max-width:100%;}
.showbiz-container.fullwidth.nopaddings	{	padding:0px;}
.sameheight								{	height:400px;}


/* THE DEMO */
.demos				{	border-top:1px solid #fff; padding-top:15px; position:relative}
.style-title		{	font-size:30px; font-weight: 800; font-family: 'Open Sans', sans-serif; color:#555; line-height:30px;text-align: center; position: relative; z-index:5;}

.style-title p		{	font-size:14px;font-weight:300;text-transform: uppercase}
.demoleft			{	max-width:415px; position:absolute; left:50%; top:35px; z-index: 1; height:0px;}
.demoleft img		{	margin-left:-50%;}

.demoleft2			{	max-width:415px; position:absolute; left:40%; top:170px; z-index: 1; height:0px;}
.demoleft2 img		{	margin-left:-100%;}

.demoright			{	max-width:290; position:absolute; left:56%; top:130px; z-index: 1; height:0px;}
.demoright img		{	margin-right:-100%;}


.relativebox				{	position: relative; width:100%;}
.moderndemoleft				{	max-width:415px; position:absolute; left:50%; top:10px; z-index: 1; height:0px;}
.moderndemoleft img			{	margin-left:-440px}
.moderndemoright			{	max-width:290; position:absolute; left:50%; top:10px; z-index: 1; height:0px;}
.moderndemoright img		{	margin-left:200px}


hr					{	border-top:1px solid #ccc; border-bottom:1px solid #fff;}




.pre-button			{	background:url(../images/preview/pre.png) repeat-x; height:40px;
						box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.2);
						-moz-box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.2);
						-webkit-box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.2);
						width:565px; margin:auto;text-align:center;
						border-radius:6px;
						-moz-border-radius:6px;
						-webkit-border-radius:6px;
						font-size:12px; color:#888; font-family: 'Open Sans', sans-serif; line-height:42px;font-weight:700;text-shadow:0px 1px #fff;
						position:relative;
						cursor:pointer;
						-webkit-transition: all 0.2s ease-out;
						-moz-transition: all 0.2s ease-out;
						-o-transition: all 0.2s ease-out;
						-ms-transition: all 0.2s ease-out;
						padding:0px 20px 0px 40px;
						overflow: hidden;
						position: relative;

					}


    @media only screen and  (max-width: 620px) {
		.pre-button			{	width:70%; margin:auto;}
		.demoleft, .demoleft2, .demoright,
		.moderndemoleft, .moderndemoright	{	display:none;}
		.halfcontainer	{	float:none; width:100%}

	}


    @media only screen and (min-width: 0px) and (max-width: 479px) {
		.hideonmobile	{	display:none;}


    }

	@media only screen and (max-width:390px) {
			.topbutton_wrapper	{	width:180px; margin:auto;}
	}





		.sb-preloader 	{	background:url(../assets/loader.gif) no-repeat 10px 10px; background-color:#fff;  margin:-22px -22px; top:50%; left:50%; z-index:10000; 					position:absolute;width:44px;height:44px; border-radius: 3px;-moz-border-radius: 3px;-webkit-border-radius: 3px;}


		.showbiz-drag-mouse	{
			cursor:url(openhand.cur), move;
		}
		.showbiz-drag-mouse.dragged {
			cursor:url(closedhand.cur), move;
		}

/*******************************************
	- RATING START  -
********************************************/
		.rating-star				{	vertical-align: middle;line-height: 17px;}
		.sb-rateholder			{	position:relative; display:inline-block; }
		.sb-rateholder-single	{   position:relative; float:left;}
		.icon-star-empty		{	position:absolute;left:0px;top:0px; z-index:1; color:#ddd; }
		.icon-star			{	position:relative; z-index:2; color:#ffc321;}

/**********************************************
- NONE SELECTION OF NAVIGATION CONTAINER  -
***********************************************/
		.showbiz-navigation {
							-webkit-user-select: none;
							-khtml-user-select: none;
							-moz-user-select: none;
							-o-user-select: none;
							user-select: none; margin-bottom:10px;
							}

/**************************************
	-	BASIC STYLING FOR CONTENTS	-
***************************************/


		.showbiz					{	position:relative;}


		.showbiz .divide5			{	width:100%;height:5px;}
		.showbiz .divide10			{	width:100%;height:10px;}
		.showbiz .divide15			{	width:100%;height:15px;}
		.showbiz .divide20			{	width:100%;height:20px;}
		.showbiz .divide30			{	width:100%;height:30px;}

		.showbiz .p20				{	padding-top:20px;}
		.showbiz .p30				{	padding-top:30px;}
		.showbiz .p40				{	padding-top:30px;}
		.showbiz .p60				{	padding-top:60px;}

		.showbiz .rm5				{	margin-right:5px;}
		.showbiz .rm10				{	margin-right:10px;}
		.showbiz .rm15				{	margin-right:15px;}
		.showbiz .rm20				{	margin-right:20px;}


		.showbiz .leftfloat			{	float:left;}
		.showbiz .rightfloat		{	float:right;}
		.sbclear					{	clear:both;}

		.showbiz .txt-center		{	text-align: center;}
		.showbiz .txt-left			{	text-align: left;}
		.showbiz .txt-right			{	text-align: right;}
		.showbiz .vert-center		{	vertical-align:middle;height:100%;}


		.showbiz-title .greenbg		{	background-color:#366300; padding:2px 10px;}
		.showbiz-title .redbg		{	background-color:#b2170a; padding:2px 10px;}
		.showbiz-title .bluebg		{	background-color:#1d628a; padding:2px 10px;}
		.showbiz-title .blackbg		{	background-color:#000; padding:2px 10px;}

		.showbiz p					{	font-size:13px; line-height:22px; color:#777; font-family: 'Open Sans', sans-serif; position:relative;}
		.showbiz p.orange			{	color:#ff6c00;}
		.showbiz p.bigger			{	font-size:17px; line-height:20px;}
		.showbiz p.bolder			{	font-weight:700;}

		.showbiz-title,
		.showbiz-title a,
		.showbiz-title a:visited,
		.showbiz-title a:hover			{	color:#555;  font-size:14px; text-transform:uppercase;  text-decoration: none; font-weight:700;}

		.showbiz-title.large,
		.showbiz-title.large a,
		.showbiz-title.large a:visited,
		.showbiz-title.large a:hover	{	font-size:20px; line-height:25px; font-weight:800;}

		.showbiz-price .number				{	color:#555; font-size:30px; font-weight: 800;}
		.showbiz-price .currency				{	color:#555; font-size:35px; font-weight: 400;}

		.showbiz-button			{	background:url(../assets/pre.png) repeat-x; height:40px;
						box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.2);
						-moz-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.2);
						-webkit-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.2);
						width:auto; margin:auto;text-align:center;
						border-radius:6px;
						-moz-border-radius:6px;
						-webkit-border-radius:6px;
						font-size:14px; color:#555; line-height:42px;font-weight:700;text-shadow:0px 1px #fff;
						position:relative;
						cursor:pointer;
						-webkit-transition: all 0.2s ease-out;
						-moz-transition: all 0.2s ease-out;
						-o-transition: all 0.2s ease-out;
						-ms-transition: all 0.2s ease-out;
						padding:10px 20px;
						overflow: hidden;
						position: relative;
						border: 1px solid #ccc;
					}


		.showbiz-button:hover	{	background:url(../assets/prehover.png) repeat-x;
						box-shadow: inset 0px 1px 1px 0px rgba(0,0,0,0.2);
						-moz-box-shadow: inset 0px 1px 1px 0px rgba(0,0,0,0.2);
						-webkit-box-shadow: inset 0px 1px 1px 0px rgba(0,0,0,0.2);
						border: 1px solid #999;
					}


		.sb_one_half 		{ width: 49%;   position:relative;}
		.sb_one_third 		{ width: 32%;  position:relative;}
		.sb_two_third 		{ width: 66%; position:relative;}
		.sb_three_fourth	{ width: 74%;    position:relative;}
		.sb_four_fifth		{ width: 78%;    position:relative;}
		.sb_one_fourth 		{ width: 23.5%;   position:relative;}
		.sb_one_fifth 		{ width: 18.2%; position:relative;}
		.sb_two_fifth 		{ width: 39%; position:relative;}
		.sb_three_fifth 	{ width: 58.3%; position:relative;}
		.sb_one_sixth 		{ width: 13.33%; position:relative;}

		.sb_one_half,
		.sb_one_third,
		.sb_two_third,
		.sb_one_fourth,
		.sb_one_fifth,
		.sb_three_fourth,
		.sb_one_sixth,
		.sb_four_fifth,
		.sb_two_fifth,
		.sb_three_fifth	{ margin-right: 2%; margin-bottom: 0px; float: left; }

		.sb_lastcolumn { margin-right: 0!important; clear: right; }


		@media only screen and (min-width: 768px) and (max-width: 979px) {
				}

		@media only screen and (max-width: 767px) {
			.sb_one_half,
			.sb_one_third,
			.sb_two_third,
			.sb_one_fourth,
			.sb_one_fifth,
			.sb_one_sixth,
			.sb_two_fifth,
			.sb_three_fifth		{ width: 100%; margin-bottom:30px;}
			.sb_lastcolumn			{	margin-bottom:0px;}
			.sb_mobilecentered		{	text-align:center;}
		}

		.sb-clear				{	clear:both}




/*********************************************************
			-	NAVIGATION SETTINGS	-
	USE STYLE CLASS IN THE SHOWBIZ NAVIGATION CONTAINER
**********************************************************/


		.showbiz-navigation						{	}
		.showbiz-navigation.center				{	text-align:right;}


		.sb-navigation-left,
		.sb-navigation-right,
/**/	.sb-navigation-play						{	cursor:pointer;  border-radius: 3px; -moz-border-radius: 3px;-webkit-border-radius: 3px;display:inline-block; padding:1px 3px;
													-webkit-transition: all 0.3s ease;-moz-transition: all 0.3s ease-in-out;-o-transition: all 0.3s ease-in-out;-ms-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out;
												}

/**/	.sb-navigation-play						{	margin-right:5px;}
		.sb-navigation-left						{	margin-right:5px;}

		.sb-navigation-left i,
		.sb-navigation-right i,
/**/	.sb-navigation-play i					{	 /*font-size:22px; */ color:#fff; }

		.sb-navigation-left.notclickable		{	cursor:default; -moz-opacity:0.3; filter:alpha(opacity=30); opacity:0.3;}
		.sb-navigation-right.notclickable		{	cursor:default; -moz-opacity:0.3; filter:alpha(opacity=30); opacity:0.3;}

		.sb-hidden								{	display:none;}

		/*** WHITE NAV BUTTONS ***/
		.sb-nav-light .sb-navigation-left,
		.sb-nav-light .sb-navigation-right,
/**/	.sb-nav-light .sb-navigation-play						{	background:#fff; border:1px solid #d5d5d5; }
		.sb-nav-light.showbiz-navigation i						{	color:#777;    }

		.sb-nav-light .sb-navigation-left:hover,
		.sb-nav-light .sb-navigation-right:hover				{	border:1px solid #b5b5b5;}

		.sb-nav-light .sb-navigation-left.notclickable:hover,
		.sb-nav-light .sb-navigation-right.notclickable:hover	{	border:1px solid #d5d5d5;}

		/*** GREY BUTTONS ***/
		.sb-nav-grey .sb-navigation-left.notclickable:hover,
		.sb-nav-grey .sb-navigation-right.notclickable:hover,
		.sb-nav-grey .sb-navigation-left,
		.sb-nav-grey .sb-navigation-right,
/**/	.sb-nav-grey .sb-navigation-play
																{	background: #919191;

																	background: -moz-linear-gradient(top,  #919191 0%, #6b6b6b 100%); /* FF3.6+ */
																	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#919191), color-stop(100%,#6b6b6b));
																	background: -webkit-linear-gradient(top, Â #919191 0%,#6b6b6b 100%);
																	background: -o-linear-gradient(top, Â #919191 0%,#6b6b6b 100%);
																	background: -ms-linear-gradient(top, Â #919191 0%,#6b6b6b 100%);
																	background: linear-gradient(to bottom, Â #919191 0%,#6b6b6b 100%);
																	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#919191', endColorstr='#6b6b6b',GradientType=0 );
																	border-top:1px solid #919191; border-left:1px solid #969696;  border-right:1px solid #969696; border-bottom:1px solid #6c6c6;
																}
		.sb-nav-grey .sb-navigation-left:hover,
		.sb-nav-grey .sb-navigation-right:hover,
/**/	.sb-nav-grey .sb-navigation-play:hover
																{	background: #919191;
																	background: -moz-linear-gradient(top,  #6b6b6b 0%, #919191 100%); /* FF3.6+ */
																	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6b6b6b), color-stop(100%,#919191));
																	background: -webkit-linear-gradient(top, #6b6b6b 0%Â ,#919191 100%);
																	background: -o-linear-gradient(top, Â #6b6b6b 0%Â ,#919191 100%);
																	background: -ms-linear-gradient(top, Â #6b6b6b 0%Â ,#919191 100%);
																	background: linear-gradient(to bottom, Â #6b6b6b 0%Â ,#919191 100%);
																	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6b6b6b', endColorstr='#919191',GradientType=0 );
																	 }


		/*** DARK GREY BUTTON ***/
		.sb-nav-dark .sb-navigation-left.notclickable:hover,
		.sb-nav-dark .sb-navigation-right.notclickable:hover,
		.sb-nav-dark .sb-navigation-left,
		.sb-nav-dark .sb-navigation-right,
/**/	.sb-nav-dark .sb-navigation-play						{	background:#555; border:1px solid #919191; border:1px solid #333;
																	border-radius: 0px; -moz-border-radius: 0px;-webkit-border-radius: 0px; }
		.sb-nav-dark .sb-navigation-left:hover,
		.sb-nav-dark .sb-navigation-right:hover,
		.sb-nav-dark .sb-navigation-play:hover		{	background:#333}

		/*** RETRO  NAV BUTTON ***/
		.sb-nav-retro .sb-navigation-left.notclickable:hover,
		.sb-nav-retro .sb-navigation-right.notclickable:hover,
		.sb-nav-retro .sb-navigation-left,
		.sb-nav-retro .sb-navigation-right,
		.sb-nav-retro .sb-navigation-play						{	background:#fff; color:#777; }

		.sb-nav-retro .sb-navigation-play						{ margin-top:10px; }

		.sb-nav-retro .sb-navigation-left:hover,
		.sb-nav-retro .sb-navigation-right:hover					{	background:#f1f1f1}

		.sb-nav-retro .sb-navigation-left						{	position:absolute;top:50%;left:-26px;margin-top:-15px; border-radius: 500px 0px 0px 500px; -moz-border-radius: 500px 0px 0px 500px;-webkit-border-radius: 500px 0px 0px 500px;
																	-webkit-box-shadow: -4px 0px 5px 1px rgba(100,100,100,0.1);
																	-moz-box-shadow: -4px 0px 5px 1px rgba(100,100,100,0.1);
																	box-shadow: -4px 0px 5px 1px rgba(100,100,100,0.1);
																	padding:10px 0px 10px 7px;
																}

		.sb-nav-retro .sb-navigation-right						{	position:absolute;top:50%;right:-26px;margin-top:-15px; border-radius: 0px 500px 500px 0px; -moz-border-radius: 0px 500px 500px 0px;-webkit-border-radius: 0px 500px 500px 0px;
																	-webkit-box-shadow: 4px 0px 5px 1px rgba(100,100,100,0.1);
																	-moz-box-shadow: 4px 0px 5px 1px rgba(100,100,100,0.1);
																	box-shadow: 4px 0px 5px 1px rgba(100,100,100,0.1);
																	padding:10px 7px 10px 0px;
																}

		.sb-retro-skin .showbiz-navigation i 					{	color:#333}


		/*** RETRO  NAV BUTTON ***/
		.sb-nav-dark-retro .sb-navigation-left.notclickable:hover,
		.sb-nav-dark-retro .sb-navigation-right.notclickable:hover,
		.sb-nav-dark-retro .sb-navigation-left,
		.sb-nav-dark-retro .sb-navigation-right,
		.sb-nav-dark-retro .sb-navigation-play					{	background:#222; color:#777; }

		.sb-nav-dark-retro .sb-navigation-play					{ margin-top:10px;
																 }
		.sb-nav-dark-retro .sb-navigation-left:hover,
		.sb-nav-dark-retro .sb-navigation-right:hover,
		.sb-nav-dark-retro .sb-navigation-play:hover			{	background:#252525}

		.sb-nav-dark-retro .sb-navigation-left						{	position:absolute;top:50%;left:-26px;margin-top:-15px; border-radius: 500px 0px 0px 500px; -moz-border-radius: 500px 0px 0px 500px;-webkit-border-radius: 500px 0px 0px 500px;
																		padding:10px 0px 10px 7px;
																	}
		.sb-nav-dark-retro .sb-navigation-right						{	position:absolute;top:50%;right:-26px;margin-top:-15px; border-radius: 0px 500px 500px 0px; -moz-border-radius: 0px 500px 500px 0px;-webkit-border-radius: 0px 500px 500px 0px;
																		padding:10px 7px 10px 0px;;
																	}

		.sb-retro-dark-skin .showbiz-navigation i 					{	color:#fff}

/*****************************************
	-	HOVER ICONS AND ANIMATIONS	-
******************************************/



		.linkicon, .lupeicon							{	position:absolute; left:50%;top:50%;
															-webkit-transform: translateZ(10);
															-webkit-backface-visibility: hidden;
															-webkit-perspective: 1000;
															color:#fff; font-size:28px; font-weight:bold; margin-top:-16px; margin-left:-15px;
														}

		.linkicon.notalone								{	margin-left:8px;}
		.lupeicon.notalone								{   margin-left:-38px;}

		.showbiz .mediaholder .linkicon,
		.showbiz .mediaholder .lupeicon					{	 	top:65%;
																-webkit-transition: all 0.2s cubic-bezier(0.175, 0.885, 0.320, 1.275);
																-moz-transition: all 0.2s cubic-bezier(0.175, 0.885, 0.320, 1.275);
																-o-transition: all 0.2s cubic-bezier(0.175, 0.885, 0.320, 1.275);
																-ms-transition: all 0.2s cubic-bezier(0.175, 0.885, 0.320, 1.275);
																-moz-opacity:0; filter:alpha(opacity=0); opacity:0;
														}
		.showbiz li:hover .mediaholder .linkicon,
		.showbiz li:hover .mediaholder .lupeicon		{   	top:50%; -moz-opacity:1; filter:alpha(opacity=100); opacity:1;}


		.showbiz li:hover .mediaholder .lupeicon		{  		transition-delay: 0.1s;
																-moz-transition-delay: 0.1s; /* Firefox 4 */
																-webkit-transition-delay: 0.1s; /* Safari and Chrome */
																-o-transition-delay: 0.1s; /* Opera */
														}



/**************************************************
	-	THE BASIC CONTAINER SETTINGS	-
	NO NEED TO MODIFICATE ANYTHIN HERE

	ALL DETAIL SETTINGS CAN BE SET VIA THE SKINS
**************************************************/



		.showbiz ul, .showbiz li						{	list-style: none; margin:0; padding:0; }
		.showbiz ul li									{	position:relative; -webkit-transform: translateZ(10);
																-webkit-backface-visibility: hidden;
																-webkit-perspective: 1000;
																margin-right:15px;
														}
		.showbiz .overflowholder 						{	overflow: hidden;position: relative;width: 100%; z-index:2}

		.showbiz .overflowholder ul 					{		width:100000px; position: absolute;	top: 0px; left: 0px; }

		.showbiz .overflowholder ul li 					{		float: left !important;
																-webkit-transition: all 0.25s ease;
																-moz-transition: all 0.25s ease-in-out;
																-o-transition: all 0.25s ease-in-out;
																-ms-transition: all 0.25s ease-in-out;
																transition: all 0.25s ease-in-out;
																position:relative;
														}


		.showbiz .mediaholder							{ 	position:relative; box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box; background:transparent;padding:0px; border:none;}
		.showbiz .mediaholder_innerwrap					{	position:relative; overflow:hidden; width:100%; box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box;}
		.showbiz .mediaholder img 						{	width:100%; position:relative; margin-bottom:-5px;}


		.showbiz .hovercover							{		width:100%;height:100%; position:absolute; top:0px; left:0px; background-color:#52bde9;background-color:rgba(82,189,233,0.85);
																-webkit-transition: all 0.2s ease-out;-moz-transition: all 0.2s ease-out;-o-transition: all 0.2s ease-out;-ms-transition: all 0.2s ease-out;
																-moz-opacity:0; filter:alpha(opacity=0); opacity:0;
																-webkit-transform: translateZ(10);
																-webkit-backface-visibility: hidden;
																-webkit-perspective: 1000;
														}

		.showbiz li:hover .hovercover			  		{		-moz-opacity:0.85; filter:alpha(opacity=85); opacity:0.85;  }







/*************************************************
	-	THE GREY SKIN EXTRAS   -
**************************************************/


		.sb-grey-skin.showbiz-navigation i						{	text-shadow:0px 1px 0px rgba(0,0,0,0.4); font-size:20px;}

		.sb-grey-skin .mediaholder 								{	background-color:#d5d5d5;border:1px solid #cecece;
																	border-radius:2px;-moz-border-radius:2px;-webkit-border-radius:2px;
																	padding:7px;
																}

		.sb-grey-skin .hovercover								{	background:rgba(0,0,0,0.5);  }

		li.sb-grey-skin:hover .mediaholder img					{	 filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
																	 filter: gray; /* IE6-9 */
																	-webkit-filter: grayscale(100%);
																}



/*************************************************
	-	THE WOO SKIN EXTRAS   -
**************************************************/

	li.sb-woo-skin											{	margin-right:20px;  }

	.sb-woo-skin.showbiz-navigation i						{	text-shadow:0px 1px 0px rgba(0,0,0,0.4); font-size:20px;}

	.sb-woo-skin .mediaholder 								{	background-color:#d5d5d5;border:1px solid #b9b9b9;
																border-radius:2px;-moz-border-radius:2px;-webkit-border-radius:2px;
																padding:7px;
															}

	.sb-woo-skin .hovercover								{	background:rgba(0,0,0,0.5);  }

	li.sb-grey-skin:hover .mediaholder img					{	 filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
																 filter: gray; /* IE6-9 */
																-webkit-filter: grayscale(100%);
																}

	.sb-woo-skin .rating-text									{	font-family: 'Open Sans', sans-serif; font-size:11px; color:#999; line-height:25px;}
	.sb-woo-skin .rating-stars									{	width:69px;height:13px;margin-right:10px; vertical-align: middle; margin-top:-2px;}
	.sb-woo-skin hr												{	border:none; border-top:1px solid #d5d5d5;margin-top:4px;margin-bottom:8px;}

	.sb-woo-skin .sb-price										{	line-height: 20px;vertical-align: middle;padding-top:0;font-size:22px; font-weight:700; margin-right:15px; color:#b1749d; font-family: 'Open Sans', sans-serif;}

	.sb-woo-skin .showbiz-button               					{
			                                                        padding:4px 15px !important;
			                                                        color:#777 !important;
			                                                        text-shadow:1px 1px 0px #fff;
			                                                        font-size:12px; line-height:27px;
			                                                        margin-top:10px;
			                                                        white-space: nowrap;
			                                                         text-decoration: none !important;
			                                                         vertical-align: middle;
			                                                     }



/*************************************************
	-	THE LIGHT SKIN EXTRAS   -
**************************************************/


		li.sb-light-skin 										{	margin-right:20px;
																	box-shadow:0px 1px 1px 0px rgba(0,0,0,0.2);-moz-box-shadow:0px 1px 1px 0px rgba(0,0,0,0.2);-webkit-box-shadow:0px 1px 1px 0px rgba(0,0,0,0.2);
																}


		.sb-light-skin .detailholder							{	background-color:#fff; padding:10px 20px 10px;
																	border-radius:0px 0px 6px 6px;-moz-border-radius:0px 0px 6px 6px;-webkit-border-radius:0px 0px 6px 6px;
																}

		.sb-light-skin .mediaholder_innerwrap					{
																	border-radius:6px 6px 0px 0px;-moz-border-radius:6px 6px 0px 0px;-webkit-border-radius:6px 6px 0px 0px;
																}

		.sb-light-skin .hovercover								{	background:rgba(0,168,255,0.75);
																	border-radius:6px 6px 0px 0px;
																	-moz-border-radius:6px 6px 0px 0px;
																	-webkit-border-radius:6px 6px 0px 0px;
																}

		.sb-light-skin .reveal_wrapper							{	border-radius:6px;-moz-border-radius:6px;-webkit-border-radius:6px;
																}







/*************************************************
	-	THE MEDIA SKIN EXTRAS   -
**************************************************/



		/* TITLE AND CONTENT */
		.sb-media-skin .showbiz-title,
		.sb-media-skin .showbiz-title a,
		.sb-media-skin .showbiz-title a:visited,
		.sb-media-skin .showbiz-title a:hover					{	color:#fff}

		.sb-media-skin .mediaholder 							{	background-color:#fff;border:none;padding:5px;
																	border-radius:2px;-moz-border-radius:2px;-webkit-border-radius:2px;
																}





/*************************************************
	-	THE SHOWCASE FULLWIDTH SKIN EXTRAS   -
**************************************************/

		.showbiz ul li.sb-showcase-skin							{	margin-right:10px; position:relative; background:#fff; padding-top:10px;}

		.sb-showcase-skin .detailholder							{	padding:30px 20px;}

		.sb-showcase-skin .mediaholder img						{	height:135px;width:auto;}

		.sb-showcase-skin .mediaholder_innerwrap				{	text-align: center;  }



/*************************************************
	-	THE MODERN FULLWIDTH SKIN EXTRAS   -
**************************************************/

.showbiz.sb-modern-skin	ul										{	background:#000;}
.showbiz ul li.sb-modern-skin									{	margin-right:0px; border-right:1px solid #000;}



.sb-modern-skin .darkhover										{	position:absolute; top:0px; left:0px; width:100%;height:100%;
																	background:rgba(0,0,0,0);
																	-webkit-transition: all 0.2s ease-out;
																	-moz-transition: all 0.2s ease-out;
																	-o-transition: all 0.2s ease-out;
																	-ms-transition: all 0.2s ease-out;
																}

.sb-modern-skin .detailholder									{  position: absolute;
																	bottom: 0px;
																	background:#000;
																	background: rgba(0,0,0,0.65);
																	padding: 20px;
																	box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box;
																	overflow: hidden;
																	width:100%;
																	-webkit-transition: all 0.2s ease-out;
																	-moz-transition: all 0.2s ease-out;
																	-o-transition: all 0.2s ease-out;
																	-ms-transition: all 0.2s ease-out;
																}

.sb-modern-skin .showbiz-title									{	font-size:20px; line-height:25px; color:#fff;  font-weight:400;}

.sb-modern-skin .excerpt										{	font-size:13px; line-height:22px; color:#999;   font-weight:400;
																	overflow: hidden; position: relative;
																	display:none;
}

.sb-post-details, .sb-post-details span,
.sb-post-details a, .sb-post-details a:visited					{	font-size:12px; line-height:22px; color:#999; font-weight:400; font-family: 'Open Sans', sans-serif;}

.sb-readmore, .sb-readmore span,
.sb-readmore a, .sb-readmore a:visited							{	font-size:12px; line-height:22px; color:#fff; font-family: 'Open Sans', sans-serif; font-weight:500; text-decoration: none;}
.sb-modern-skin .sb-readmore									{   -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
																	  filter: alpha(opacity=0);
																	  -moz-opacity: 0.0;
																	  -khtml-opacity: 0.0;
																	  opacity: 0.0;
																	  -webkit-transition: all 0.2s ease-out;
																	  -moz-transition: all 0.2s ease-out;
																	  -o-transition: all 0.2s ease-out;
																	  -ms-transition: all 0.2s ease-out;
																}


.showbiz ul li.sb-modern-skin:hover .detailholder				{	background:#000; background:rgba(0,0,0,1);}
.showbiz ul li.sb-modern-skin:hover .darkhover					{	background:rgba(0,0,0,0.65);}


.showbiz ul li.sb-modern-skin:hover .sb-readmore				{   -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
																	  filter: alpha(opacity=100);
																	  -moz-opacity: 1;
																	  -khtml-opacity: 1;
																	  opacity: 1;
																	}


/**************************************************
	-	THE RETRO SKIN EXTRAS -
***************************************************/



.sb-retro-skin.showbiz-container								{	max-width:1210px;	min-width:300px;	}


.sb-retro-skin .showbiz-title,
.sb-retro-skin .showbiz-title a,
.sb-retro-skin .showbiz-title a:visited,
.sb-retro-skin .showbiz-title a:hover							{	text-decoration: none;
																	font-weight:400 !important;

															        font-size: 16px;
															        font-weight: normal;
															        color: #999;
															        text-shadow: #fff 1px 1px 1px;
															        margin: 0px;
															        width: 100%;
																    text-decoration: none !important;
															        text-transform:none !important;
															    }

.sb-retro-skin .showbiz-description								{
																	font-family: Arial, sans-serif;
															        font-size: 12px;
															        line-height: 20px;
															        color: #777;
															        text-shadow: #fff 1px 1px 1px;


															    }

.sb-retro-skin .showbiz-button               					{
			                                                        padding:4px 15px !important;
			                                                        color:#777 !important;
			                                                        text-shadow:1px 1px 0px #fff;
			                                                        font-size:12px; line-height:30px;
			                                                        margin-top:10px;
			                                                        white-space: nowrap;
			                                                         text-decoration: none !important;
			                                                     }

.sb-retro-skin  .showbiz-navigation i							{	text-shadow:0px 1px 0px rgba(0,0,0,0.4); font-size:20px;}

.sb-retro-skin  .mediaholder 									{	background-color:#fff;
						                                            border:1px solid #cecece;
						                                            border-radius:0px;-moz-border-radius:0px;-webkit-border-radius:0px;
						                                            padding:4px;

						                                        }

.sb-retro-skin .hovercover										{	background:rgba(0,0,0,0.5);  }

.sb-retro-skin li:hover .mediaholder img  						{	 filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
			                                                        filter: gray; /* IE6-9 */
			                                                        -webkit-filter: grayscale(100%);
			                                                    }


.sb-retro-skin	.linkicon										{
			                                                        position:absolute; left:50%;top:50%;
			                                                        -webkit-transform: translateZ(10);
			                                                        -webkit-backface-visibility: hidden;
			                                                        -webkit-perspective: 1000;
			                                                        color:#fff; font-size:42px; font-weight:400 !important;

			                                                        margin-top:-23px; margin-left:-23px;
			                                                         background:#000; background:rgba(0,0,0,0.6);
			                                                         border-radius:50%;-moz-border-radius:50%;-webkit-border-radius:50%;
			                                                        width:46px;height:46px;
			                                                        vertical-align: middle !important;
			                                                        text-align: center;
			                                                     }



/**************************************************
	-	THE RETRO DARK SKIN EXTRAS -
***************************************************/



.sb-retro-dark-skin.showbiz-container								{	max-width:1210px;	min-width:300px;	}


.sb-retro-dark-skin .showbiz-title,
.sb-retro-dark-skin .showbiz-title a,
.sb-retro-dark-skin .showbiz-title a:visited,
.sb-retro-dark-skin .showbiz-title a:hover							{	text-decoration: none;
																		font-weight:400 !important;

																        font-size: 16px;
																        font-weight: normal;
																        color: #ddd !important;
																        text-shadow: #000 1px 1px 1px;
																        margin: 0px;
																        width: 100%;
																        text-transform:none !important;
																        text-decoration: none !important;
																    }

.sb-retro-dark-skin .showbiz-description						{
																	font-family: Arial, sans-serif;
															        font-size: 12px;
															        line-height: 20px;
															        color: #999;
															        text-shadow: #000 1px 1px 1px;


															    }

.sb-retro-dark-skin .showbiz-button               					{
			                                                             padding:4px 15px !important;
				                                                        color: #999;
																		text-shadow: 1px 1px 0px #000;
																		background: #333;
																		border: 1px solid #151515;
																		text-decoration: none;
																		font-weight: 400;
				                                                        white-space: nowrap;
				                                                        font-size:12px;
				                                                         text-decoration: none !important;
			                                                     }
			                                                     }

.sb-retro-dark-skin  .showbiz-navigation i							{	text-shadow:0px 1px 0px rgba(0,0,0,0.4); font-size:20px;}

.sb-retro-dark-skin  .mediaholder 									{	background-color:#fff;
							                                            border:1px solid #111;
							                                            border-radius:0px;-moz-border-radius:0px;-webkit-border-radius:0px;
							                                            padding:0px;

						                                        }

.sb-retro-dark-skin .hovercover										{	background:rgba(0,0,0,0.5);  }

.sb-retro-dark-skin li:hover .mediaholder img  						{	 filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
			                                                        filter: gray; /* IE6-9 */
			                                                        -webkit-filter: grayscale(100%);
			                                                    }


.sb-retro-dark-skin	.linkicon										{
			                                                        position:absolute; left:50%;top:50%;
			                                                        -webkit-transform: translateZ(10);
			                                                        -webkit-backface-visibility: hidden;
			                                                        -webkit-perspective: 1000;
			                                                        color:#fff; font-size:42px; font-weight:400 !important;

			                                                        margin-top:-23px; margin-left:-23px;
			                                                         background:#000; background:rgba(0,0,0,0.6);
			                                                         border-radius:50%;-moz-border-radius:50%;-webkit-border-radius:50%;
			                                                        width:46px;height:46px;
			                                                        vertical-align: middle !important;
			                                                        text-align: center;
			                                                     }




/******************************************************
		-	THE REVEAL FUNCTIONS 	-
*********************************************************/

		.reveal_container											{	position:absolute; width:100%;height:100%; top:0px; left:0px; -webkit-transform: translateZ(10);
																		-webkit-backface-visibility: hidden;
																		-webkit-perspective: 1000;
																		visibility:hidden;
																	}

		.reveal_container.tofullwidth								{	visibility:visible; z-index:20;}
		.reveal_container.tofullwidth.sb-removemesoon				{	visibility:visible; z-index:5; background:#ff0000;}

		.showbiz-title.go-to-top									{	position:absolute;top:100%; margin-top:-40px;z-index:5; left:20px;
																		-webkit-transition: all 0.5s cubic-bezier(0.175, 0.885, 0.320, 1.275);-moz-transition: all 0.5s cubic-bezier(0.175, 0.885, 0.320, 1.275);-o-transition: all 0.5s cubic-bezier(0.175, 0.885, 0.320, 1.275);-ms-transition: all 0.5s cubic-bezier(0.175, 0.885, 0.320, 1.275);
																		-webkit-transform: translateZ(10);-webkit-backface-visibility: hidden;-webkit-perspective: 1000;
																	}


		.reveal_container .reveal_wrapper							{	position:absolute; background:#fff; background:rgba(255,255,255,0.9);
																		width:100%; height:100%; top:0px; left:0px; visibility:hidden;
																		padding:20px 20px 20px;
																		height:0px;
																		box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;
																		overflow:hidden;
																		/*-webkit-transition: all 0.3s ease;-moz-transition: all 0.3s ease-in-out;-o-transition: all 0.3s ease-in-out;-ms-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out;*/
																		-moz-opacity:0; filter:alpha(opacity=0); opacity:0;
																		/*-webkit-transform: translateZ(10); -webkit-backface-visibility: hidden; -webkit-perspective: 1000;*/
																	}



		/*** BIG WHITE OPENER- DEFAULT ***/
		 .reveal_opener												{	width:45px; height:50px; line-height:50px;text-align:center; font-size:22px;color:#888; font-family:Arial; font-weight:700; position:absolute;
																		right:0px;bottom:0px;background-color:#fff;
																		border-radius:4px 0px 0px 0px; -moz-border-radius:4px 0px 0px 0px; -webkit-border-radius:4px 0px 0px 0px;
																		cursor:pointer;
																		-webkit-transition: opacity 0.2s ease-out;-moz-transition: opacity 0.2s ease-out;-o-transition: opacity 0.2s ease-out;-ms-transition: opacity 0.2s ease-out;
																		z-index:1;
																	}

		.reveal_opener.retrostyled									{	width:auto !important; clear:both; bottom:0px; left:0px; right:auto; z-index:100;}
		.reveal_opener.retrostyled	.openme,
		.closeme.inside												{	width:auto !important; display:inline-block; white-space: nowrap !important;
																		line-height: 19px;
																		margin: 0px !important;
																		vertical-align: middle;
																		height: 18px;}

		.closeme.inside												{	width:auto; display: inline-block;}

		.reveal_opener.sb-centered									{	left:50%;top:50%;}


		/*** SMALL WHITE OPENER ***/
		.reveal_opener.opener_small_white							{	background:#fff; width:25px;height:27px;line-height:25px;	border-radius:0px 0px 6px 6px;-moz-border-radius:0px 0px 6px 6px;-webkit-border-radius:0px 0px 6px 6px;}

		/*** SMALL GRAY OPENER ***/
		.reveal_opener.opener_small_grey							{	background:#d5d5d5; width:25px;height:27px;line-height:25px;border-radius: 0px; -moz-border-radius: 0px;-webkit-border-radius: 0px; bottom:0px;right:0px;}

		/*** GREY COLORED OPENER ***/
		.reveal_opener.opener_big_grey								{	width:29px; height:29px; line-height:29px;color:#888;
																		background-color:#d5d5d5;font-weight:700;
																		border-radius: 5px 0px 0px 0px; -moz-border-radius: 5px 0px 0px 0px;-webkit-border-radius: 5px 0px 0px 0px;
																	}
		.reveal_opener.revactive.opener_big_grey	 				{	font-size:30px;width:40px;height:35px;line-height:35px;}

		/** REVEAL OPENER PLAY BUTTON **/
		.reveal_opener.sb-controll-button							{	color:#fff; width:40px;height:40px; line-height:40px; background-color:#000; background-color:rgba(0,0,0,0.8); border-radius: 5px !important; -moz-border-radius: 5px !important;-webkit-border-radius: 5px !important; margin-top:-20px;margin-left:-20px;}


		/*** HIDE / SHOW OPENER ONLY ON HOVER **/
		.reveal_opener.show_on_hover								{	-moz-opacity:0; filter:alpha(opacity=0); opacity:0;  }
		li:hover .reveal_opener.show_on_hover						{	-moz-opacity:1; filter:alpha(opacity=100); opacity:1;}


		.tofullwidth .reveal_wrapper								{	background:#fff; }


		.tofullwidth  .reveal_wrapper .table						{	display:table;}
		.tofullwidth  .reveal_wrapper .table-cell					{	display:table-cell; vertical-align:top; }
		.tofullwidth  .reveal_wrapper .table-cell.onethird			{	width:33%;}


		.tofullwidth  .reveal_wrapper .table-cell.pl20				{	padding-left:20px;}

		@media only screen and (max-width: 480px) {
			.tofullwidth  .reveal_wrapper .table-cell				{	display:table-row;}
		}

		/******************* REVEAL ACTIONS ***/


		.reveal_opener .openme										{	display:block;}
		.reveal_opener .closeme										{	display:none;}


		.reveal_container.revactive .reveal_wrapper					{	}
		.revactive .showbiz-title.go-to-top							{	position:absolute;top:20px; margin-top:0px; z-index:5; left:20px;}

		.revactive.reveal_opener .openme							{	display:none;}
		.revactive.reveal_opener .closeme							{	display:block;}
		.revactive.reveal_opener.sb-controll-button.sb-centered		{	left:auto; top:10px; right:10px !important; margin:0;}





/* --- PRODUCT ---*/

/* My Reviews */
#my-reviews-table td {
  padding: 10px;
  line-height: 20px; }
  #my-reviews-table td h2.product-name {
    font-size: 14px;
    line-height: 20px;
    font-weight: normal; }
  #my-reviews-table td .rating-box {
    margin-top: 5px; }

.product-review .product-img-box {
  float: left;
  width: 140px; }
  .product-review .product-img-box .product-image {
    display: block;
    width: 125px;
    height: 125px; }
  .product-review .product-img-box .label {
    font-size: 11px;
    margin: 0 0 3px; }
  .product-review .product-img-box .ratings .rating-box {
    float: none;
    display: block;
    margin: 0 0 3px; }
.product-review .product-details {
  margin-left: 150px; }
.product-review .product-name {
  font-size: 16px;
  font-weight: bold;
  margin: 0 0 10px; }
.product-review .ratings-table {
  margin: 0 0 10px; }
.product-review dt {
  font-weight: bold; }
.product-review dd {
  font-size: 13px;
  margin: 5px 0 0; }
  .product-block {
  /*.pts-atchover, 
  .product-zoom,
  .ves-colorbox {
      @include opacity(0);
      visibility: hidden;   
  }
  .pts-atchover{
      margin: -10px 0 0 -60px;
  }
  .product-zoom {
      //margin: -10px -70px -0 0;
  }*/ }
  .product-block .image .action {
    opacity: 0;
    filter: alpha(opacity=0);
    visibility: hidden;
    -webkit-transition: all 0.4s ease-in-out 0.2s;
    -moz-transition: all 0.4s ease-in-out 0.2s;
    -o-transition: all 0.4s ease-in-out 0.2s;
    -ms-transition: all 0.4s ease-in-out 0.2s;
    transition: all 0.4s ease-in-out 0.2s;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0); }
  .product-block:hover {
    /*.pts-atchover, 
    .product-zoom,
    .ves-colorbox{
        @include opacity(1);
        display: block;
        visibility: visible;
        @include transition (all 0.2s ease 0s);     
    } */ }
    .product-block:hover .image .action {
      opacity: 1;
      filter: alpha(opacity=100);
      visibility: visible;
      -webkit-transition: all 0.4s ease-in-out 0.2s;
      -moz-transition: all 0.4s ease-in-out 0.2s;
      -o-transition: all 0.4s ease-in-out 0.2s;
      -ms-transition: all 0.4s ease-in-out 0.2s;
      transition: all 0.4s ease-in-out 0.2s;
      -webkit-transform: scale(1);
      -ms-transform: scale(1);
      transform: scale(1); }
  .product-block .product-meta .action {
    -webkit-transition: all 0.4s ease-in-out 0.2s;
    -moz-transition: all 0.4s ease-in-out 0.2s;
    -o-transition: all 0.4s ease-in-out 0.2s;
    -ms-transition: all 0.4s ease-in-out 0.2s;
    transition: all 0.4s ease-in-out 0.2s;
    opacity: 0;
    filter: alpha(opacity=0);
    visibility: hidden; }
  .product-block:hover .product-meta .action {
    opacity: 1;
    filter: alpha(opacity=100);
    visibility: visible;
    -webkit-transition: all 0.4s ease-in-out 0.2s;
    -moz-transition: all 0.4s ease-in-out 0.2s;
    -o-transition: all 0.4s ease-in-out 0.2s;
    -ms-transition: all 0.4s ease-in-out 0.2s;
    transition: all 0.4s ease-in-out 0.2s; }

#products-grid.products-block .product-col .wrap-item,
.products-grid .product-col .wrap-item {
  padding-bottom: 30px; }
  #products-grid.products-block .product-col .wrap-item .product-block,
  .products-grid .product-col .wrap-item .product-block {
    border: 4px solid #fff;
    -webkit-transition: all 400ms ease-in-out 200ms;
    -moz-transition: all 400ms ease-in-out 200ms;
    -o-transition: all 400ms ease-in-out 200ms;
    -ms-transition: all 400ms ease-in-out 200ms;
    transition: all 400ms ease-in-out 200ms;
    margin-left: -15px;
    margin-right: -15px;
    padding-left: 15px;
    padding-right: 15px; }
    #products-grid.products-block .product-col .wrap-item .product-block:hover,
    .products-grid .product-col .wrap-item .product-block:hover {
      border: 4px solid #29bab0;
      z-index: 9999;
      margin-top: -10px;
      padding-top: 10px;
      padding-bottom: 40px;
      margin-bottom: -40px; }

.effect {
  position: relative;
  overflow: hidden;
  max-width: 100%; }

.overlay {
  background: none repeat scroll 0 0 rgba(227, 242, 253, 0.4);
  height: 100%;
  display: block;
  left: 50%;
  opacity: 0;
  position: absolute;
  top: 0;
  -webkit-transition: all 0.4s ease 0.2s;
  -moz-transition: all 0.4s ease 0.2s;
  -o-transition: all 0.4s ease 0.2s;
  -ms-transition: all 0.4s ease 0.2s;
  transition: all 0.4s ease 0.2s;
  width: 0; }
  .rtl .overlay {
    right: 50%;
    left: auto; }

.effect:hover .overlay {
  left: 0px;
  width: 100%;
  opacity: 1; }
  .rtl .effect:hover .overlay {
    right: 0px;
    left: auto; }

/* block */
.block {
  margin-bottom: 20px;
  /* block styles */ }
  .block .block-title {
    font-family: "Open Sans";
    font-size: 12px;
    color: #fffefe;
    text-transform: uppercase;
    font-weight: 800;
    line-height: 44px; }
    .block .block-title strong span {
      background-color: #29bab0;
      display: inline-block;
      position: relative;
      padding: 0px 20px; }
  .block .block-content {
    /*padding: $block-module-content-padding;*/
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
    border-radius: 0px;
    padding: 0;
    background: #fff; }
    .block .block-content:after {
      display: block;
      content: ".";
      clear: both;
      font-size: 0;
      line-height: 0;
      height: 0;
      overflow: hidden; }
  .block.nopadding .block-content {
    padding: 0 !important;
    margin: 0 !important; }

.block-default {
  border-color: #ddd; }
  .block-default .block-title {
    color: #333333;
    background-color: #f5f5f5;
    border-color: #ddd; }
    .block-default .block-title + .block-collapse .block-content {
      border-top-color: #ddd; }
  .block-default > .block-footer + .block-collapse .block-body {
    border-bottom-color: #ddd; }

.block-primary {
  border-color: #9c9c9c; }
  .block-primary .block-title {
    color: #fff;
    background-color: #9c9c9c;
    border-color: #9c9c9c; }
    .block-primary .block-title + .block-collapse .block-content {
      border-top-color: #9c9c9c; }
  .block-primary > .block-footer + .block-collapse .block-body {
    border-bottom-color: #9c9c9c; }

.block-success {
  border-color: #d6e9c6; }
  .block-success .block-title {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6; }
    .block-success .block-title + .block-collapse .block-content {
      border-top-color: #d6e9c6; }
  .block-success > .block-footer + .block-collapse .block-body {
    border-bottom-color: #d6e9c6; }

.block-info {
  border-color: #bce8f1; }
  .block-info .block-title {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1; }
    .block-info .block-title + .block-collapse .block-content {
      border-top-color: #bce8f1; }
  .block-info > .block-footer + .block-collapse .block-body {
    border-bottom-color: #bce8f1; }

.block-warning {
  border-color: #faebcc; }
  .block-warning .block-title {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc; }
    .block-warning .block-title + .block-collapse .block-content {
      border-top-color: #faebcc; }
  .block-warning > .block-footer + .block-collapse .block-body {
    border-bottom-color: #faebcc; }

.block-danger {
  border-color: #ebccd1; }
  .block-danger .block-title {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1; }
    .block-danger .block-title + .block-collapse .block-content {
      border-top-color: #ebccd1; }
  .block-danger > .block-footer + .block-collapse .block-body {
    border-bottom-color: #ebccd1; }

.block-highlighted {
  border-color: #29bab0; }
  .block-highlighted .block-title {
    color: #FFFFFF;
    background-color: #29bab0;
    border-color: #29bab0; }
    .block-highlighted .block-title + .block-collapse .block-content {
      border-top-color: #29bab0; }
  .block-highlighted > .block-footer + .block-collapse .block-body {
    border-bottom-color: #29bab0; }
  .block-highlighted .block-content {
    border-color: #29bab0;
    border-width: 2px; }

/*.carousel {
  position: relative; }
  .carousel .carousel-control {
    left: auto;
    bottom: auto;
    z-index: 10;
    top: 50%;
    margin-top: -14px;
    background: none !important;
    width: 10px;
    height: 28px;
    line-height: 28px;
    border-radius: 0;
    border: 0;
    text-align: center;
    color: #ccc;
    font-size: 26px;
    text-shadow: none;
    cursor: pointer; }
    .carousel .carousel-control:hover {
      color: #29bab0; }
  .carousel .carousel-control.left {
    left: -30px; }
  .carousel .carousel-control.right {
    right: -30px; }*/

/* block inline style */
.block-inline .icon {
  font-size: 35px; }
.block-inline .explain {
  font-size: 11px; }
.block-inline .block-content {
  color: #FFFFFF;
  position: relative;
  text-transform: uppercase;
  font-family: "Open Sans";
  font-size: 15px; }
.block-inline .input-group {
  width: 98%; }

.sidebar .ves-custom {
  border: none; }
  .sidebar .ves-custom .block-heading {
    border: none;
    background: none;
    color: #FFFFFF; }
    .sidebar .ves-custom .block-heading strong span {
      display: block !important; }
  .sidebar .ves-custom .block-content {
    border: none;
    padding: 20px; }
.sidebar .block .block-title strong span {
  display: block !important; }
.sidebar .block .block-content {
  padding: 20px; }

/* block style in main content */
#content .ves-custom .block-content {
  border: none;
  background: none;
  color: #FFFFFF; }
#content .ves-custom .block-content {
  border: none; }
#content .block-content {
  padding: 0;
  margin: 0; }

/* block style in footer */
#footer .block {
  margin-bottom: 0;
  border: none; }
  #footer .block .block-title {
    border: none;
    background: none;
    color: #FFFFFF;
    padding-left: 0; }
  #footer .block .block-content {
    border: none;
    padding: 0;
    background: transparent; }

.block-up-sell .block-title {
  text-align: center;
  padding: 35px 0px;
  background: #fff;
  margin-bottom: 35px; }
  .block-up-sell .block-title strong {
    font-weight: normal; }
    .block-up-sell .block-title strong span {
      font-size: 30px;
      line-height: 45px;
      background: none;
      color: #29bab0;
      font-family: "Lato";
      padding: 0px 8px; }
      .block-up-sell .block-title strong span:after, .block-up-sell .block-title strong span:before {
        content: "";
        height: 4px;
        width: 20px;
        position: absolute;
        display: block;
        top: 20px;
        border-top: 2px solid #29bab0;
        border-bottom: 1px solid #29bab0; }
      .block-up-sell .block-title strong span:before {
        left: -20px; }
      .block-up-sell .block-title strong span:after {
        right: -20px; }
.block-up-sell .block-content {
  padding-bottom: 20px !important;
  background: none; }
  .block-up-sell .block-content .item {
    background: #fff; }
.block-up-sell .carousel-inner:hover {
  overflow: visible; }

.tab-contents .box-tags label {
  display: block; }
.tab-contents .box-tags .form-add {
  overflow: hidden; }
.tab-contents .box-tags .input-box {
  width: 80%;
  float: left;
  display: inline-block;
  margin-top: 0px !important; }
  .rtl .tab-contents .box-tags .input-box {
    float: right !important; }
.tab-contents .box-tags .button {
  float: left;
  margin-left: 10px; }
  .rtl .tab-contents .box-tags .button {
    float: right !important; }
  .rtl .tab-contents .box-tags .button {
    margin-right: 10px;
    margin-left: inherit; }
	
	.products-row {
  position: relative; }
  .products-row .product-col {
    border-right: 1px solid #e5e5e5;
    border-right: 1px solid #e5e5e5; }
    .rtl .products-row .product-col {
      border-left: 1px solid #e5e5e5;
      border-right: inherit; }
    .products-row .product-col:last-child {
      border-right: 0;
      border-left: 0; }

.product-pricing,
.block-deal-info {
  font-size: 12px;
  font-weight: 400;
  font-family: "Lato";
  color: #777; }

.block-deal-info {
  margin-bottom: 0; }
  .block-deal-info .block-title {
    display: none; }
  .block-deal-info .block-content {
    background: transparent; }
  .block-deal-info .productdeals {
    margin-bottom: 10px; }
    .block-deal-info .productdeals .item-countdown li {
      background: #FFFFFF;
      margin-left: 0 !important;
      margin-right: 10px;
      padding: 8px 10px !important; }

/* product style */
.product-block {
  position: relative;
  background-color: #FFFFFF;
  margin: 0;
  text-align: center; }
  .product-block a:hover {
    color: #29bab0; }
  .product-block .price-box {
    margin-bottom: 14px;
    font-weight: 700;
    color: #29bab0; }
    .product-block .price-box .price-label {
      font-size: 12px -1 !important;
      color: #777;
      font-weight: 300;
      display: none !important; }
    .product-block .price-box .price-from,
    .product-block .price-box .price-to {
      display: inline-block; }
  .product-block .product-meta .action {
    z-index: 5;
    margin-top: 0px;
    position: absolute;
    left: -1px;
    right: -1px;
    bottom: 5px; }
    .product-block .product-meta .action:after {
      display: block;
      content: ".";
      clear: both;
      font-size: 0;
      line-height: 0;
      height: 0;
      overflow: hidden; }
    .product-block .product-meta .action > div {
      width: 50%;
      float: left;
      display: inline-block;
      text-transform: uppercase;
      line-height: 36px;
      background: #29bab0;
      color: #fff; }
      .rtl .product-block .product-meta .action > div {
        float: right !important; }
      .product-block .product-meta .action > div:first-child {
        border-right: 1px solid #29bab0; }
        .rtl .product-block .product-meta .action > div:first-child {
          border-left: 1px solid #29bab0;
          border-right: inherit; }
      .product-block .product-meta .action > div a {
        color: #fff; }
        .product-block .product-meta .action > div a:hover {
          text-decoration: underline; }
      .product-block .product-meta .action > div .fa {
        margin-right: 5px; }
        .rtl .product-block .product-meta .action > div .fa {
          margin-left: 5px;
          margin-right: inherit; }
    .product-block .product-meta .action .link-wishlist,
    .product-block .product-meta .action .link-compare {
      padding: 0 5px;
      font-size: 10px; }
  .product-block .description {
    display: none;
    font-size: 13px; }
  .product-block .product-rating, .product-block .norating {
    line-height: 22px;
    min-height: 25px;
    height: 25px;
    height: auto !important;
    font-size: 12px; }
  .product-block .name {
    text-transform:capitalize;
    margin: 0;
    height:40px;
    line-height: 18px;
    margin-bottom: 14px; overflow:hidden; }
    .product-block .name a {
      color: #777;
      font-size: 13px;
      font-weight: 400;
      text-decoration: none;
      *display: inline;
      zoom: 1; }
      .product-block .name a:hover {
        color: #29bab0; }
  .product-block .image-gallery {
    border: solid 4px #b2b2b2;
    position: absolute;
    top: 0;
    left: -80px;
    display: none; }
    .product-block .image-gallery .product-image {
      width: 75px;
      overflow: hidden;
      cursor: hand;
      cursor: pointer; }
    .product-block .image-gallery .arrow {
      border-bottom: 5px solid transparent;
      border-left: 5px solid #b2b2b2;
      border-top: 5px solid transparent;
      margin: -5px 0;
      position: absolute;
      right: -9px;
      top: 50%; }
  .product-block .image {
    position: relative;
    overflow: hidden;
    margin: 0;
    padding-top: 10px;
    border: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
    border-radius: 0px;
	height:150px;
    /*swap image*/ }
    .product-block .image .product-image {
      -webkit-transition: all 0.5s ease 0s;
      -moz-transition: all 0.5s ease 0s;
      -o-transition: all 0.5s ease 0s;
      -ms-transition: all 0.5s ease 0s;
      transition: all 0.5s ease 0s;
      max-width: 100%; }
      .product-block .image .product-image img {
        display: inline-block; }
    .product-block .image .hover-image {
      position: absolute;
      padding: 10px 0 0;
      text-align: center;
      top: 0;
      width: 100%;
      left: 0;
      top: 0;
      visibility: hidden;
      transform: translateX(-100%);
      transition: all 0.5s ease 0s; }
    .product-block .image:hover .hover-image {
      opacity: 1;
      visibility: visible;
      transform: translateX(0);
      overflow: hidden;
      transition: all 0.5s ease 0s; }
    .product-block .image .onsale,
    .product-block .image .new-icon {
      background: url("../../../images/yellow/label_sale.png") no-repeat;
      height: 41px;
      width: 46px;
      line-height: 41px;
      text-transform: uppercase;
      color: #FFFFFF;
      position: absolute;
      top: 10px;
      right: 10px;
      right: 10px;
      font-weight: 700;
      font-size: 11px;
      z-index: 999; }
      .rtl .product-block .image .onsale, .rtl
      .product-block .image .new-icon {
        left: 10px;
        right: auto; }
    .product-block .image .new-icon {
      background: url("../../../images/yellow/label_new.png") no-repeat; }
    .product-block .image .onsale + .new-icon {
      right: 65px; }
    .product-block .image .action {
      text-align: center;
      position: absolute;
      left: 0px;
      right: 0px;
      top: 90px; }
      .product-block .image .action a {
        display: inline-block;
        min-width: 96px;
        text-align: center;
        background: #fff;
        margin-bottom: 6px; }
        .product-block .image .action a:hover {
          background: #29bab0;
          color: #fff; }
  .product-block .product-meta {
    padding: 0; }
  .product-block:hover .product-meta {
    padding: 0; }
  .product-block:hover .image-gallery {
    display: block;
    z-index: 99; }
  .product-block:hover .action {
    display: block; }
  .product-block .availability span {
    padding: 7px 15px; }
    .product-block .availability span.available-now {
      background: red;
      border: 1px solid #cc0000;
      color: #FFFFFF; }
    .product-block .availability span.out-of-stock {
      background: blue;
      border: 1px solid #0000cc;
      color: #FFFFFF; }
  .product-block .product-flags {
    opacity: 0;
    filter: alpha(opacity=0); }
  .product-block .cart {
    background: none;
    padding: 0px;
    margin-bottom: 14px; }

.availability .out-of-stock {
  font-size: 11px;
  background: #5bc0de;
  color: #FFFFFF; }
.availability .available-now {
  font-size: 11px;
  background: #f0ad4e;
  color: #FFFFFF; }

.product-label {
  color: #fff;
  font-size: 12px;
  font-weight: 700;
  text-align: center;
  z-index: 3;
  position: absolute;
  left: 2px; }
  .product-label span {
    padding: 6px 12px; }
  .product-label.product-label-new, .product-label.new-box {
    background-color: #d9534f;
    top: 2px; }
    .product-label.product-label-new[href]:hover, .product-label.product-label-new[href]:focus, .product-label.new-box[href]:hover, .product-label.new-box[href]:focus {
      background-color: #c9302c; }
  .product-label.product-label-special, .product-label.sale-box {
    top: 20px;
    background-color: #483865; }
    .product-label.product-label-special[href]:hover, .product-label.product-label-special[href]:focus, .product-label.sale-box[href]:hover, .product-label.sale-box[href]:focus {
      background-color: #312644; }
  .product-label.sale-percent-box {
    background-color: #483865;
    right: 0;
    left: inherit;
    bottom: 0; }
    .product-label.sale-percent-box[href]:hover, .product-label.sale-percent-box[href]:focus {
      background-color: #312644; }

.rating-box {
  background: url(../../../images/rating-blank-star.png);
  background-repeat: repeat-x;
  background-position: left 0;
  clear: right;
  height: 9px;
  margin: 0 10px 0 0;
  width: 45px; }
  .rtl .rating-box {
    background-position: right 0; }
  .rating-box .rating {
    background: url(../../../images/rating-full-star.png);
    background-repeat: repeat-x;
    background-position: left 0;
    height: 9px; }
    .rtl .rating-box .rating {
      background-position: right 0; }

.rating-links {
  font-size: 12px;
  line-height: 10px; }

#products-grid.products-block .ratings .rating-box,
.product-grid .ratings .rating-box,
.products-grid .ratings .rating-box {
  float: none;
  margin: 10px auto; }
#products-grid.products-block .ratings .rating-links,
.product-grid .ratings .rating-links,
.products-grid .ratings .rating-links {
  display: none; }
#products-grid.products-block .name,
.product-grid .name,
.products-grid .name {
 /* height: 18px !important;
  overflow: hidden;*/ }

.productcarousel .carousel-controls {
  right: 0;
  right: 62px; }
  .rtl .productcarousel .carousel-controls {
    left: 62px;
    right: auto; }

.product-info .options-list li {
  display: block; }
  .product-info .options-list li .label {
    padding: 0px 5px;
    line-height: 26px;
    font-size: 100%; }
    .product-info .options-list li .label label {
      padding: 0px; }
  .product-info .options-list li .price {
    font-size: 13px; }
  .product-info .options-list li dt label {
    font-weight: bold; }

.product-tags {
  margin-bottom: 10px; }
  .product-tags li {
    display: inline-block;
    margin-right: 5px; }
    .rtl .product-tags li {
      margin-left: 5px;
      margin-right: inherit; }

.add-to-links {
  overflow: hidden;
  line-height: 36px; }
  .add-to-links li {
    display: inline-block; }

/* product list mode  */
.products-list .products-row {
  border: none; }
  .products-list .products-row .col-fullwidth {
    width: 100% !important;
    float: none;
    margin: 0; }
  .products-list .products-row .product-col {
    border-right: none;
    padding-bottom: 20px;
    border-right: 0; }
    .rtl .products-list .products-row .product-col {
      border-left: 0;
      border-right: inherit; }
    .products-list .products-row .product-col:last-child {
      border-right: 0; }
      .rtl .products-list .products-row .product-col:last-child {
        border-left: 0;
        border-right: inherit; }
.products-list .product-block {
  padding: 20px;
  text-align: left;
  text-align: left;
  overflow: hidden; }
  .rtl .products-list .product-block {
    text-align: right !important; }
  .products-list .product-block .product-meta {
    padding: 0;
    background-color: #FFFFFF;
    overflow: hidden; }
    .products-list .product-block .product-meta .action {
      display: block;
      margin: 0px;
      position: inherit; }
      .products-list .product-block .product-meta .action .link-wishlist, .products-list .product-block .product-meta .action .link-compare {
        font-size: 12px; }
      .products-list .product-block .product-meta .action > div {
        width: auto;
        padding: 0px 10px;
        border: none !important;
        background: none;
        color: #777; }
        .products-list .product-block .product-meta .action > div a {
          color: #777; }
          .products-list .product-block .product-meta .action > div a:hover {
            color: #29bab0; }
  .products-list .product-block .deal_detail,
  .products-list .product-block .productdeals {
    opacity: 1;
    filter: alpha(opacity=100);
    display: block; }
.products-list .description {
  display: block; }
.products-list .price-tax {
  display: block; }
.products-list .name a {
  font-size: 15px; }
.products-list .image {
  float: left;
  float: left;
  margin: 0 20px 0 0;
  margin-right: 20px;
  text-align: center; }
  .rtl .products-list .image {
    float: right !important; }
  .rtl .products-list .image {
    margin-left: 20px;
    margin-right: inherit; }
  .products-list .image img {
    padding: 0;
    border: 0; }
  .products-list .image:hover .info-view {
    opacity: 1;
    filter: alpha(opacity=100); }
.products-list .cart {
  float: left;
  padding: 0; }
  .rtl .products-list .cart {
    float: right !important; }
  .products-list .cart button {
    margin: 0px; }
.products-list .wishlist, .products-list .compare {
  float: left; }
  .rtl .products-list .wishlist, .rtl .products-list .compare {
    float: right !important; }
.products-list .rating-box {
  float: left;
  float: left;
  margin-right: 10px; }
  .rtl .products-list .rating-box {
    float: right !important; }
  .rtl .products-list .rating-box {
    margin-left: 10px;
    margin-right: inherit; }
.products-list .product-icon {
  padding: 9px 17px;
  line-height: 1;
  border-left: 1px solid #FFFFFF;
  text-align: center; }
  .products-list .product-icon span {
    display: inline-block;
    *display: inline;
    zoom: 1;
    font-family: "Lato"; }
.products-list .toolbar-bottom {
  margin-top: 0; }
  
  .deals-index-index .product-block:hover .ves-colorbox {
    left: 31% !important; }
  .deals-index-index .product-block:hover .colorbox {
    right: 31% !important; }
  .deals-index-index .product-block .item-countdown {
    margin: 0 -20px; }
    .deals-index-index .product-block .item-countdown ul li {
      padding: 8px !important; }
  .deals-index-index .products-list .item-countdown {
    margin: 0; }

.button{
    background-color: transparent;
    border: 1px solid #000;
    border-radius: 0;
    color: #000;
    cursor: pointer;
    display: inline-block;
    font-size: 10px;
    font-weight: 800;
    margin: 0;
    padding: 0 10px;
    text-transform: uppercase;
    transition: all 0.4s ease 0s;
    white-space: nowrap;
}
.button {
    line-height: 34px;
}


.on-sale-wrap .ons-ale {
    background-color: #414141;
    color: #ffffff;
    font-size: 13px;
    left: 1px;
    padding: 2px 10px;
    position: absolute;
    top: 1px;
    z-index: 10; text-transform:uppercase;
}



